# General Python ignores
__pycache__/
*.py[cod]
*.so
*.dll
*.dylib
*.pyd

# Virtual environment (inside Back-End/Monolithic-Architecture/)
Back-End/Monolithic-Architecture/venv/
Back-End/Monolithic-Architecture/__pycache__/
Back-End/Monolithic-Architecture/uploads


