fastapi
uvicorn
faiss-cpu
sentence-transformers
transformers
pytesseract
opencv-python
pdf2image
PyPDF2
pyttsx3
pandas
numpy
python-docx 
python-pptx 
python-multipart
autocorrect 
language-tool-python
Counter
fitz 
pillow 
tabula-py
tqdm
autocorrect
PyMuPDF
colorlog
jpype1
easyocr