fastapi
uvicorn
faiss-cpu
sentence-transformers
transformers
gtts
pandas
numpy
python-docx 
python-pptx 
python-multipart
autocorrect 
language-tool-python
pillow 
tabula-py
tqdm
autocorrect
PyMuPDF
colorlog
joblib 
better_profanity
textblob
nltk
fpdf
deep_translator
pytesseract
pdf2image
pytest
google-api-python-client
dotenv